.spinner-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: rgba(71, 42, 13, 0.9);
    padding: 25px;
    height: auto;
    width: auto;
    border-radius: 10px;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}