  .garden-bar {
    margin-left: 20px;
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .garden-bar-item {
    margin: 0 10px;
    color: none;
    margin-top: 30px;
  }
