  
  .garden-bar {
    height: 30px;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
} 

  .garden-bar-item {
    margin: 0 10px;
    color: inherit;
    margin-top: 30px;
  }

  
