.data-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

.data-table-header {
  color: black;
  height: 80px;
}

li {
  margin-right: 35px;
  margin-left: 35px;
  text-align: left;
}
