/* File: UPlant/frontend/src/components/ui/styles/garden-grid.css */

.garden-grid-container-static {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-container {
    padding: 30px;
    background-image: url("/app/wood-texture.jpg");
    border-radius: 4px;
    display: grid;
    border: 4px solid #000; /* Black border */
    position: relative;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle depth */
}

.selected {
    background-color: darkgreen; /* Green for the planted seed area */
    border: 1px solid #5A3220; /* Darker brown for the border */
    position: relative;
}

/* The Seed Hole (Circular Indentation) */
.selected::after {
    content: '';
    position: absolute;
    width: 60%; /* Adjusted to make the hole appear bigger */
    height: 60%;
    border-radius: 50%; /* Circular shape */
    background-color: #4B3621; /* Richer brown to resemble fertile soil */
    box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.6); /* Stronger shadow for more depth */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.selected-shear {
    background-color: darkgreen; /* Green for the planted seed area */
    border: 1px solid #5A3220; /* Darker brown for the border */
    position: relative;
}

/* The Seed Hole (Red X) */
.selected-shear::after {
    content: '✖'; /* Unicode character for X */
    position: absolute;
    color: red; /* Red color for the X */
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.grid {
    display: grid;
}

/* Tooltip Styling */
.tooltip {
    z-index: 9999;
}

.garden-bar-container-static {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* span full width of parent */
    height: 88px;
    z-index: 1; /* ensure it's above other content if needed */
}

.needs-care {
    background-color: #8B4513;
    border: 1px solid rgb(63, 0, 63);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    background-image: radial-gradient(circle, #9C6B30 20%, purple 80%); /* Adds texture */
}

.garden-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(to bottom, #156082, rgb(83, 118, 83));
    border-radius: 10px 0 0 0;
}

.garden-grid-container {
    width: 65%;
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garden-notification-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 40%;
    border-top: 2px solid black;
    align-self: end;
}

.grid-container {
    padding: 30px;
    background-image: none;
    border-radius: 4px;
    display: grid;
    border: 4px solid #000; /* Black border */
    position: relative;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle depth */
}

.square {
    background-color: #8B4513; /* Soil brown */
    border: 1px solid #5A3220; /* Darker brown for border */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5); /* Adds depth to look like ground */
    background-image: radial-gradient(circle, #9C6B30 20%, #7e3e10 80%); /* Adds texture */
}

.selected {
    border: 1px solid #5A3220; /* Darker brown for the border */
    position: relative;
}

/* The Seed Hole (Circular Indentation) */
.selected::after {
    content: '';
    position: absolute;
    width: 45%; /* Adjusted to make the hole appear bigger */
    height: 45%;
    border-radius: 50%; /* Circular shape */
    background-color: #5b4026; /* Richer brown to resemble fertile soil */
    box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.6); /* Stronger shadow for more depth */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.selected-shear {
    background-color: darkgreen; /* Green for the planted seed area */
    border: 1px solid #5A3220; /* Darker brown for the border */
    position: relative;
}

/* The Seed Hole (Red X) */
.selected-shear::after {
    content: '✖'; /* Unicode character for X */
    position: absolute;
    color: red; /* Red color for the X */
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.grid {
    display: grid;
}

/* Tooltip Styling */
.tooltip {
    z-index: 9999;
}

.garden-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* span full width of parent */
    height: 88px;
    z-index: 1; /* ensure it's above other content if needed */
}
