.switch-wrapper {
    display: flex;
        align-items: center;
        gap: 12px;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        margin-bottom: 10px;
  }
  
  .switch-label {
    font-size: 14px;
    color: #333;
  }
  
  .switch-track {
    width: 60px;
    height: 28px;
    background-color: #888;
    border-radius: 999px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .switch-track.checked {
    background-color: #4caf50;
  }
  
  .switch-handle {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.25s;
  }
  
  .switch-track.checked .switch-handle {
    left: 35px
  }