<!-- backend/root/templates/user_management/user_confirm.html -->

{% extends 'basic_generic.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <h2>Confirm Delete</h2>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete <strong>{{ object.get_full_name }}</strong>? This user's account will be gone forever.</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'user_management:user_list' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
