.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
    object-fit: contain;
}

.username-container {
    color: black;
    font-size: 20px;
    margin-right: 50px;
    border: 1px dotted gray;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.navbar .settings-icon {
    color: black;
    font-size: 50px;
    cursor: pointer;
    margin-right: 30px;
}
<<<<<<< HEAD

.navbar-logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: auto;
    border: 2px solid black;
}
=======
>>>>>>> origin/catalog-bf
