<!-- backend/root/templates/user_management/email/password_reset_form.html -->


{% extends 'basic_generic.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Reset Your Password</h2>
    <p>Please enter your email address to receive a link to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
    </form>
</div>
{% endblock %}
