<!-- backend/root/templates/core/about.html -->

{% extends 'basic_generic.html' %}

{% load static %}

{% block title %}About Us - UPlant{% endblock %}

{% block content %}
<div class="about-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="about-title">About Us</h2>
                        <p>At U-Plant, we are dedicated to [mission or goal]</p>
                        
                        <div class="team-section mt-4">
                            <h3>Meet Our Team</h3>
                            <div class="team-members">
                                <div class="row justify-content-center mt-3">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="team-member">
                                            <img src="{% static 'img/placeholders/lebron.png' %}" alt="Team Member">
                                            <p>Lebron James</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="team-member">
                                            <img src="{% static 'img/placeholders/obama.jpeg' %}" alt="Team Member">
                                            <p>Barack Obama</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="team-member">
                                            <img src="{% static 'img/placeholders/jack.jpg' %}" alt="Team Member">
                                            <p>Very cool guy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}