<!-- backend/root/templates/core/about.html -->

{% extends "basic_generic.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/aboutus.css' %}">
<div class="about-container">
    <h2>About Us</h2>
    <p class="mission">Mission Statement Here</p>

    <!-- Team Photo -->
    <div class="team-photo">
        <img src="{% static 'img/group-photo.jpg' %}" alt="Team Photo">
        <p class="photo-caption">Left to right: Jason, Cainan, Beckett, Laura, Julian, Alex</p>
    </div>

    <div class="team-members">
        <!-- Team Member 1 (Odd) -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Jason</p>
                <p class="title">Backend Developer</p>
            </div>
            <div class="member-description">
                <p>
                    <ul>
                        <li>Graduating Class: 2025</li>
                        <li>Major: Computer Science</li>
                        <li>Post College Plans: Study abroad in Japan & look for software engineering jobs</li>
                        <li>Other Passions/Interests: Game development & cyber security</li>
                    </ul>
                </p>
            </div>
        </div>

        <!-- Team Member 2 (Even - mirrored) -->
        <div class="team-member mirrored">
            <div class="member-description">
                <ul>
                    <li>Graduating Class: 2025</li>
                    <li>Major: Computer Science</li>
                    <li>Post College Plans: I am currently working as a Hawkeye Technician for the Houston Astros with the goal to make a career in the player development side of baseball.</li>
                    <li>Other Passions/Interests: Disc Golf, Baseball, Board Games, and Analytics</li>
                </ul>
            </div>
            <div class="member-info">
                <p class="name">Cainan</p>
                <p class="title">Backend Developer</p>
            </div>
        </div>

        <!-- Team Member 3 -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Beckett</p>
                <p class="title">React Developer</p>
            </div>
            <div class="member-description">
                <ul>
                    <li>Graduating Class: 2025</li>
                    <li>Major: Computer Science</li>
                    <li>Post College Plans: </li>
                    <li>Other Passions/Interests: </li>
                </ul>
            </div>
        </div>

        <!-- Team Member 4 -->
        <div class="team-member mirrored">
            <div class="member-description">
                <ul>
                    <li>Graduating Class: 2025</li>
                    <li>Major: Computer Science</li>
                    <li>Post College Plans: </li>
                    <li>Other Passions/Interests: </li>
                </ul>
            </div>
            <div class="member-info">
                <p class="name">Laura</p>
                <p class="title">Database Manager</p>
            </div>
        </div>

        <!-- Team Member 5 -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Julian</p>
                <p class="title">Fullstack Developer</p>
            </div>
            <div class="member-description">
                <ul>
                    <li>Graduating Class: 2025</li>
                    <li>Major: Computer Science</li>
                    <li>Post College Plans: Web Developement</li>
                    <li>Other Passions/Interests: Rock Climbing, Reading, Cooking</li>
                </ul>
            </div>
        </div>

        <!-- Team Member 6 -->
        <div class="team-member mirrored">
            <div class="member-description">
                <ul>
                    <li>Graduating Class: 2025</li>
                    <li>Major: Computer Science</li>
                    <li>Post College Plans:  Find a job, finish personal projects</li>
                    <li>Other Passions/Interests: Translation, reading</li>
                </ul>
            </div>
            <div class="member-info">
                <p class="name">Alex</p>
                <p class="title">Digital Artist</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}