<!-- backend/root/templates/core/about.html -->
 
{% extends "basic_generic.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/aboutus.css' %}">
<div class="about-container">
    <h2>About Us</h2>
    <p class="mission">Mission Statement Here</p>

    <!-- Team Photo -->
    <div class="team-photo">
        <img src="{% static 'Team Photo Here' %}" alt="Team Photo">
        <p class="photo-caption">Left to right: </p>
    </div>

    <div class="team-members">
        <!-- Team Member 1 (Odd) -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Julian</p>
                <p class="title">Dev</p>
            </div>
            <div class="member-description">
                <p>Example Description</p>
            </div>
        </div>

        <!-- Team Member 2 (Even - mirrored) -->
        <div class="team-member mirrored">
            <div class="member-description">
                <p>Example Description</p>
            </div>
            <div class="member-info">
                <p class="name">Jason</p>
                <p class="title">Dev</p>
            </div>
        </div>

        <!-- Team Member 3 -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Laura</p>
                <p class="title">Dev</p>
            </div>
            <div class="member-description">
                <p>Example Description</p>
            </div>
        </div>

        <!-- Team Member 4 -->
        <div class="team-member mirrored">
            <div class="member-description">
                <p>Example Description</p>
            </div>
            <div class="member-info">
                <p class="name">Beckett</p>
                <p class="title">Dev</p>
            </div>
        </div>

        <!-- Team Member 5 -->
        <div class="team-member">
            <div class="member-info">
                <p class="name">Alex</p>
                <p class="title">Dev</p>
            </div>
            <div class="member-description">
                <p>Example Description</p>
            </div>
        </div>

        <!-- Team Member 6 -->
        <div class="team-member mirrored">
            <div class="member-description">
                <p>Example Description</p>
            </div>
            <div class="member-info">
                <p class="name">Cainan</p>
                <p class="title">Dev</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}