<!-- backend/root/templates/core/privacy.html -->

{% extends 'basic_generic.html' %}

{% block content %}
    <h2>Privacy</h2>
    <p>This is the privacy page. Here we provide information about how we handle your data.</p>
    <h3>How we handle your data</h3>
    <p>At U-Plant we handle your sensitive data with the upmost care, using preexisting encryption installations to protect both you and your data.</p>
    <h3>What data we collect</h3>
    <p>We simply collect your email and ZIP code. That's it!</p>
    <h3>How we use your data</h3>
    <p>We use your ZIP code to provide you with the current and accurate forecast so you may manage your plants accordingly</p>
    <h3>How we share your data</h3>
    <p>Your data will remain private and unseen by anyone including the admins.</p>
{% endblock %}