<!-- backend/root/templates/core/privacy.html -->

{% extends 'basic_generic.html' %}

{% block content %}
    <h2>Privacy</h2>
    <p>This is the privacy page. Here we provide information about how we handle your data.</p>
    <h3>How we handle your data</h3>
    <p>MeebleMobble.</p>
    <h3>What data we collect</h3>
    <p>MeebleMobble.</p>
    <h3>How we use your data</h3>
    <p>MeebleMobble.</p>
    <h3>How we protect your data</h3>
    <p>MeebleMobble.</p>
    <h3>How we share your data</h3>
    <p>MeebleMobble.</p>
    <h3>How to contact us</h3>
    <p>MeebleMobble.</p>
{% endblock %}