<!-- backend/root/templates/core/terms.html -->

{% extends 'basic_generic.html' %}

{% block content %}
    <h2>Terms of Service</h2>
    <p>This is the terms of service page. Here we provide information about the terms of service for using our site.</p>
    <h3>Terms of Service</h3>
    <p>By having an account with U-Plant, you agree to providing us with your ZIP code to provide you with more accurate location data 
        U-Plant is an application meant to assist the user in caring for their garden.  
        However, U-Plant is not liable for any damage done to gardens, plants, etc. based on the advice U-Plant gives.
        By using our application you agree to the above terms of service.
    </p>
{% endblock %}