/* SearchPlants.css */

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.plant-list {
    width: 50%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.plant-item {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #083448;
    background: linear-gradient(to bottom,  #156082, rgb(83, 118, 83));
}