/* File: UPlant/frontend/src/components/layout/styles/nav-bar.css */

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
}

.navbar h1 {
    font-family: 'Brush Script MT', cursive;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.left-container {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.title-container {
    text-align: center;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.right-container {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.username {
    color: black;
    border: 1px dotted gray;
    padding: 0 10px;
    display: flex;
    height: 40px;
    align-items: center;
}

.right-option-icon {
    color: black;
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
    align-self: center;
}

.notification-bell {
    margin-top: 4px;
}
