.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    /* padding: 0 20px 0 20px; */
    z-index: 10;
    justify-content: space-between;
}

.navbar h1 {
    font-family: 'Brush Script MT', cursive;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.username-container {
    color: black;
    font-size: 20px;
    margin-right: 20px;
    border: 1px dotted gray;
    padding: 0 10px;
    display: flex;
    height: 60px;
    align-items: center;
}

.settings-icon {
    color: black;
    font-size: 50px;
    cursor: pointer;
    margin-right: 20px;
    align-self: center;
}


