/* File: UPlant/frontend/src/components/layout/styles/plant-search-side-bar.css */

.search-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 4px solid black;
    top: 60px;
    width: 200px;
    height: calc(100vh - 60px);
    background: linear-gradient(to right, rgba(152, 152, 152, 0.8), rgba(65, 64, 64, 0.8));
    padding: 10px;
    border-radius: 0 10px 0 0;
    border: 2px solid black;
}

.search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: auto;
}

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
}

.search-input:focus {
    outline: none;
    border: 2px solid #156082;
    box-shadow: 0 0 5px rgba(21, 96, 130, 0.5);
}

button.search-loading {
    width: 25%;
    margin-left: 10px;
    padding: 10px;
    color: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
}

button.search-button {
    width: 25%;
    margin-left: 10px;
    padding: 10px;
    color: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border-radius: 50%;
}

button.search-button:hover {
    background-color: rgba(39, 39, 39, 0.5);
    transform: scale(1.1);
}

button.search-button:active {
    transform: scale(0.9);
}

.plant-list {
    width: 50%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.item-container {
    font-size: 21px;
    flex: 1 0 50%;
    box-sizing: border-box;
    width: 100%;
}

.plant-item {
    padding: 10px;
    border: 1px solid #083448;
    background: linear-gradient(to bottom, #99642a, #47331f);
    text-align: center;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    flex: 1 1 100%;
    box-sizing: border-box;
}

.scrollable-section {
    width: 98%;
    height: calc(100vh - 161px);
    overflow-y: scroll;
    background: rgb(203, 203, 203);
    background: linear-gradient(to left, rgb(118, 65, 37), rgb(143, 102, 75));
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: 22px;
    outline: 1px solid white;
    cursor: pointer;
}

.plant-common-name {
    font-size: 14px;
    margin-top: 5px;
}

.remove-plant-item {
    padding: 10px;
    border: 1px solid #083448;
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(255, 0, 0));
    text-align: center;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    flex: 1 1 100%;
    box-sizing: border-box;
    cursor: pointer;
}