
  .garden-grid-container {
      width: 65%;
      outline: 2px solid white;
      display: flex;
      justify-content: center;
        align-items: center;
  }
  
  .garden-notification-container{
    
    display: flex;
    justify-content: center;
    height: 500px;
    width: 35%;
    border-top: 2px solid white;
    align-self: end;
    
  }
.grid-container {
    padding: 30px;
    background-image: url("/app/wood-texture.jpg");
    border-radius: 4px;
    display: grid;
    border: 4px solid #000; /* Black border */
    position: relative;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle depth */
}


  .grid {
    display: grid;
  }
  
  /* Tooltip Styling */
  .tooltip {
    z-index: 9999;
  }
  
  .dashboard-content {
    position: fixed;
    top: 60px;
    left: 240px;
    width: calc(100vw - 240px);
    height: calc(100vh - 60px);
    /* background: white; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: end;
    background: linear-gradient(to bottom, #156082,rgb(83, 118, 83));
    border-radius: 10px 0 0 0;
  }
  