
.garden-container-static {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(to bottom, #156082,rgb(83, 118, 83));
    flex-direction: column;
  }

  /* notifications-page.css */

.notification-page-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .notification-content-container {
    position: fixed;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notification-buttons {
    margin: 120px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .notification-button {
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  