.username-form-content {
    font-family: monospace;
    width: 100%;
    margin-top: 40px;
}

.username-form-header {
    margin-bottom: 40px;
}

.username-form-label {
    margin-bottom: 5px;
    color: black;
}

.username-form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.username-form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
    margin-bottom: 15px;
}

.username-form-footer {
    margin-top: 50px;
}
.username-form{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

    background: rgba(255, 253, 253, 0.8);
    border-radius: 10px;
    padding: 40px;
}