/* form.css */

.form-content {
    font-family: monospace;
    width: 100%;
    margin-top: 40px;
}

.form-header {
    margin-bottom: 40px;
}

.form-label {
    margin-bottom: 5px;
    color: black;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
    margin-bottom: 15px;
}

.form-footer {
    margin-top: 50px;
}

.form {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: rgba(255, 253, 253, 0.8);
    border-radius: 10px;
    padding: 40px;
}

.wood-form {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-image: url("/app/wood-texture.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
    outline: 4px solid #000;
}