.notification-form-content {
    font-family: monospace;
    width: 100%;
    margin-top: 40px;
}

.notification-form-header {
    margin-bottom: 40px;
}

.notification-form-label {
    margin-bottom: 5px;
    color: white;
}

.notification-form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.notification-form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
    margin-bottom: 15px;
}

.notification-form-footer {
    margin-top: 50px;
}